@page "/"
@inherits BooksBase

@if (BookAuthors == null)
{
    <h3>Loading books...</h3>
}
else
{
    /*<DisplayBooks />*/

    var bookCount = BookAuthors.Count();

    @if (bookCount > 0)
    {
        @foreach (var bookGenre in GetGroupedBooksByGenre())
        {
            <h4>@GetGenreByName(bookGenre)</h4>
            <hr class="mt-3" />
            <div class="row text-center">
                <DisplayBooks BookAuthors ="@bookGenre"></DisplayBooks>
            </div>
        }
    }
}