body {
    background-color:aqua;
}

a {
    text-decoration: none;
}

.book-img {
    height: auto;
    object-fit: contain;
    width: 100%;
    padding: 10px; 
    background-color: #fff; 
    margin: 0 0 20px;
    justify-content: end;
}

.card {
    border: none; /* Remove border from card */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
}

.book-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
}

.card-title {
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

.author-container h5 {
    font-size: 12px;
    color: grey;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

