@inherits DisplayBooksBase

@foreach (var item in BookAuthors)
{
    <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <a href="/BookDetails/@item.Id">
            <div class="card h-200">
                <img src="@item.ImageUrl" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="card-title">@item.Title</h6>
                    <p class="card-title">@item.AuthorName</p>
                    <p class="card-text">@item.Price.ToString("C")</p>
                    <a href="" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </a>
    </div>
}