@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
@else
{
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row mb-5">
        <div class="col-md-9">
            @foreach (var item in ShoppingCartItems)
            {
                <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@item.ImageUrl" width="300" class="img-thumbnail" />
                    </div>
                    <div class="col-md-8">
                        <h5>@item.Title</h5>
                        <span class="mb-4">@item.Price.ToString("C")</span>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <h5>Cart Summary</h5>
            <div class="mt-2">
                <div>Total - </div>
                <a href="#" class="btn btn-success">
                    <span class="oi oi-credit-card"></>&nbsp; Proceed to Checkout
                </a>
            </div>
        </div>
    </div>
}
